h1{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.536);
    color: white;
    padding-left:20px ;
    padding-right: 10px;

}
body{
    background-color: rgba(137, 43, 226, 0.414) ;
}

